<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TunnelMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TunnelMonitor.Properties.Settings>
      <setting name="CheckInterval" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CheckUrl" serializeAs="String">
        <value>http://wiki.famiku.com:4888/check.txt</value>
      </setting>
      <setting name="CheckString" serializeAs="String">
        <value>SUCCESS</value>
      </setting>
      <setting name="TunnelPath" serializeAs="String">
        <value>plink</value>
      </setting>
      <setting name="TunnelArguments" serializeAs="String">
        <value>-ssh -l root -R 4888:192.168.34.235:4888 -batch -C -i id_rsa.ppk 180.97.224.193 -N</value>
      </setting>
      <setting name="TunnelWorkingDirectory" serializeAs="String">
        <value>D:\putty</value>
      </setting>
    </TunnelMonitor.Properties.Settings>
  </applicationSettings>
</configuration>