<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TunnelMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TunnelMonitor.Properties.Settings>
      <setting name="CheckInterval" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CheckUrl" serializeAs="String">
        <value>http://wiki.famiku.com:9080/</value>
      </setting>
      <setting name="CheckString" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TunnelPath" serializeAs="String">
        <value>plink.exe</value>
      </setting>
      <setting name="TunnelArguments" serializeAs="String">
        <value>-ssh -l root -R 9080:192.168.3.3:9080 -batch -C -i id_rsa.ppk 221.6.203.185 -N</value>
      </setting>
      <setting name="TunnelWorkingDirectory" serializeAs="String">
        <value>putty</value>
      </setting>
    </TunnelMonitor.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
