<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfGecko.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <WpfGecko.Properties.Settings>
            <setting name="Url" serializeAs="String">
                <value>index.html</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CanvasXPath" serializeAs="String">
                <value>//canvas</value>
            </setting>
        </WpfGecko.Properties.Settings>
    </applicationSettings>
</configuration>