<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OBB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    
  </appSettings>
  <applicationSettings>
    <OBB.Properties.Settings>
      <setting name="mode" serializeAs="String">
        <value>Master</value>
      </setting>
      <setting name="notifyPort" serializeAs="String">
        <value>12345</value>
      </setting>
      <setting name="servicePort" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="serviceRoot" serializeAs="String">
        <value />
      </setting>
      <setting name="scriptsPath" serializeAs="String">
        <value>scripts</value>
      </setting>
    </OBB.Properties.Settings>
  </applicationSettings>
</configuration>
