<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="winss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <winss.Properties.Settings>
            <setting name="url" serializeAs="String">
                <value>index.html</value>
            </setting>
            <setting name="ie_version" serializeAs="String">
                <value>12001</value>
            </setting>
            <setting name="timeout" serializeAs="String">
                <value>300</value>
            </setting>
        </winss.Properties.Settings>
    </applicationSettings>
</configuration>